---
import FormContainer from '~/components/ui/Form.astro';
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Contact } from '~/types';

import FeedbackForm from "~/components/FeedbackForm"

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  inputs,
  textarea,
  disclaimer,
  button,
  description,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props as Contact;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-7xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline title={title} subtitle={subtitle} tagline={tagline} />
  <FeedbackForm client:load />
  
      
        <!-- <div class="flex flex-col w-full backdrop-blur bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 lg:p-8 max-w-xl mx-auto p-4 rounded-lg shadow sm:p-6" id="mc_embed_shell">
          <div id="mc_embed_signup">
            <form method="post">
              <div id="mc_embed_signup_scroll">
                <div class="mb-6 mc-field-group">
                  <label class="block text-xs mb-2 font-medium" for="mce-EMAIL">Email <span class="asterisk">*</span></label>
                  <input class="w-full bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 rounded-lg block px-4 py-2 text-md" type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""/>
                </div>
                <div class="mb-6 mc-field-group">
                  <label class="block text-xs mb-2 font-medium" for="mce-FNAME">Name </label>
                  <input class="w-full bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 rounded-lg block px-4 py-2 text-md" type="text" name="FNAME" class=" text" id="mce-FNAME" value="" />
                </div>
                <div class="mb-6 mc-field-group">
                  <label class="block text-xs mb-2 font-medium" for="mce-MMERGE6">Message </label>
                  <input class="w-full bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 rounded-lg block px-4 py-2 text-md" type="text" name="MMERGE6" class=" text" id="mce-MMERGE6" value="" />
                </div>
                <div class="flex items-start mt-3"><div class="flex mt-0.5"><input class="w-full bg-white border border-gray-200 dark:bg-slate-900 dark:border-gray-700 rounded-lg block px-4 py-3 text-xs cursor-pointer mt-1" id="disclaimer" name="disclaimer" type="checkbox"></div><div class="ml-3"><label class="dark:text-gray-400 text-xs cursor-pointer select-none text-gray-600" for="disclaimer">By submitting this contact form, you acknowledge and agree to the collection of your personal information.</label></div></div>
                <div id="mce-responses" class="clear foot">
                  <div class="response text-sm font-medium" id="mce-error-response" style="display: none;"></div>
                  <div class="response text-sm font-medium" id="mce-success-response" style="display: none;"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  <input type="text" name="b_5bcc9f3853978ee9c174f5536_1cf36748ca" tabindex="-1" value="" />
                </div>
                <div class="optionalParent">
                  <div class="clear foot">
                    <div class="grid mt-10">
                      <input class="btn-primary" type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Contact Us">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div> -->
      
</WidgetWrapper>

